{% extends "layout.html" %}
##
{% block content %}
    <section>
        <article class="hidebox">
          <h3>Toyota Supra</h3>
		  <p> Серийный спортивный автомобиль, выпускающийся компанией Toyota с 1978 года. Дизайн Supra был перенят от Toyota Celica, но кузов стал длиннее и шире. Начиная с середины 1986 года, Supra отделилась от Celica, став самостоятельной моделью. В связи с этим Toyota перестала использовать префикс Celica, и автомобиль стал именоваться просто Supra. Первое, второе и третье поколения Supra собирались на заводе в Тахаре, а четвёртое и пятое поколение — на заводе в городе Тоёта в Японии. </p>
           <figure><img src="/static/images/3Gkx4A.jpg" alt="" ></figure>
		  <figure><img src="/static/images/supra.jpg" alt=""></figure>
		  <h3>Nissan Skyline</h3>
		  <p> Автомобиль, выпускаемый в Японии с 1957 года, сначала фирмой Prince Motor, а затем концерном Nissan Motor, купившим Prince в 1966 году. К настоящему времени выпущено 13 поколений этого автомобиля.10-е поколение Nissan Skyline было представлено в мае 1998 в кузовах R34 с большим акцентом на спортивность и соответствие новым экологическим нормам. </p>
           <figure><img src="/static/images/sky.jpg" alt=""></figure>
		   <figure><img src="/static/images/skyline.jpg" alt=""></figure>
		  <h3>Nissan Silvia</h3>
		  <p>   Спортивное купе, выпускавшееся японским автопроизводителем Nissan с 1965 по 2002 годы. Купе строилось на платформе Nissan S. Хотя и последние модели разделяли это шасси с другими автомобилями Nissan (в первую очередь европейская 200SX и североамериканская 240SX в поколениях S13 и S14, и модель 180SX на японском рынке), название Silvia на эти автомобили совместно с кодами шасси не переходило.
           <figure><img src="/static/images/silvia.jpg" alt=""></figure>
		   <figure><img src="/static/images/silviaback.jpg" alt=""></figure>
</p>
        </article>
        
    </section>

{% endblock %}